body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
  overflow-x: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a:hover,
a:focus {
  color: #4d5ae5;
}

address {
  font-style: normal;
}

button:hover,
button:focus {
  background-color: #4d5ae5;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

path {
  fill: none;
}

.container {
  width: 320px;
  padding: 0 16px 0 16px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  padding: 17.5px 16px 17.5px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  color: #2e2f42;
}

.header-logo {
  margin-right: 149px;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.header-logo-accent {
  color: #2e2f42;
}

.header-list {
  display: none;
}

.header-item-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item-current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-item-link:hover::after,
.header-item-link:focus::after,
.header-item-link:active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-item-current,
.header-item-link:hover,
.header-item-link:focus,
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.header-address {
  color: #2e2f42;
}

.header-address-list {
  display: none;
  gap: 40px;
}

.header-address-link {
  color: #434455;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 24px;
  width: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
}

.mob-menu-nav-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 168px;
  gap: 40px;
}

.mob-menu-nav-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.mob-menu-nav-link-current {
  color: #404bbf;
}

.mob-menu-address {
  margin-bottom: 48px;
}

.mob-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-menu-address-link {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.mob-menu-address-link-current {
  color: #404bbf;
}

.mob-menu-social-list {
  display: flex;
  gap: 40px;
  margin-bottom: 72px;
}

.mob-menu-social-item {
  width: 40px;
  height: 40px;
}

.mob-menu-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-social-link:hover,
.mob-menu-social-link:focus {
  background-color: #31d0aa;
}

.mob-menu-icon {
  fill: #f4f4fd;
  position: absolute;
  margin: 8px;
}

.menu-open-btn {
  display: flex;
  border: none;
  background-color: transparent;
  padding: 0;
}

.menu-open-icon {
  fill: #2f2f37;
}

.solutions {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 72px 0 72px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .solutions {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob-2x.jpg);
  }
}

.solutions,
.footer {
  background-color: #2e2f42;
}

.solutions-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  max-width: 288px;
  color: #ffffff;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.solutions-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-btn:hover,
.solutions-btn:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.points {
  padding: 96px 0;
}

.points-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.points-icon-bg {
  display: none;
}

.points-title {
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.points-paragraph {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.team {
  padding: 96px 0;
  background-color: #f4f4fd;
  color: #2e2f42;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.team-list {
  padding-left: 28px;
  padding-right: 28px;
}

.team-info {
  padding: 32px 0;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-social-icon {
  fill: #f4f4fd;
}

.team-name {
  margin-bottom: 8px;
  text-align: center;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-paragraph {
  text-align: center;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-ellipse:hover,
.team-ellipse:focus {
  background-color: #404bbf;
}

.team-icon {
  position: absolute;
  margin: 12px;
}

.portfolio {
  padding: 96px 0 96px 0;
  color: #2e2f42;
}

.portfolio-title {
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}

.portfolio-item {
  width: 100%;
  border-top: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover p {
  transform: translateY(0%);
}

.portfolio-inform {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-paragraph {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 16px;
  align-items: baseline;
  justify-content: center;
}

.footer .container .footer-logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-container {
  text-align: center;
}

.footer-paragraph {
  text-align: start;
  width: 288px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.footer-logo-accent,
.footer-paragraph {
  color: #f4f4fd;
}

.footer-social-paragraph {
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
  position: absolute;
  margin: 8px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  width: 255px;
  flex-direction: column;
  align-items: flex-start;
}

.modal-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: #ffffff;
}

.modal-input {
  width: 256px;
  height: 40px;
  padding-left: 34px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-textarea-container {
  margin-bottom: 16px;
}

.modal-textarea {
  display: block;
  width: 256px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-form-icon {
  position: absolute;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-checkbox-window {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.modal-checkbox-input:checked + .modal-checkbox-label > .modal-checkbox-window {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-policy {
  color: #4d5ae5;
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-thickness: auto;
}

.modal-submit {
  min-width: 169px;
  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: #404bbf;
}

.footer-form-container {
}

.footer-form-paragraph {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.footer-form-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  opacity: 0.3;
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.footer-form-icon {
  margin-left: 16px;
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header .container {
    padding: 0 16px 0 16px;
  }

  .header-logo {
    margin-right: 120px;
  }

  .header-list {
    display: inline-flex;
    gap: 40px;
    position: relative;
  }

  .header-address-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }

  .header-address-link {
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
  }

  .menu-open-btn {
    display: none;
  }

  .solutions {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 112px 0 112px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .solutions {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
  }

  .solutions-title {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
  }

  .points-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .points-title {
    text-align: start;
  }

  .points-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    gap: 64px 24px;
  }

  .team-list .container {
    padding-left: 108px;
    padding-right: 108px;
  }

  .portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 72px) / 2);
  }

  .footer-container {
    padding-left: 108px;
    padding-right: 164px;
    justify-content: flex-start;
  }

  .footer-logo-container {
    margin-right: 24px;
    text-align: start;
  }

  .footer-paragraph {
    width: 264px;
  }

  .footer-social-paragraph {
    text-align: start;
  }

  .footer-form-paragraph {
    text-align: start;
  }

  .footer-form {
    gap: 24px;
  }

  .footer-form-input {
    width: 264px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 25px 24px 23px;
  }

  .modal-form {
    width: 360px;
  }

  .modal-input {
    width: 360px;
  }

  .modal-textarea {
    width: 360px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0;
  }

  .header-logo {
    margin-right: 76px;
  }

  .solutions {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 188px 0 188px;
    max-width: 1440px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .solutions {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }

  .header-address-list {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }

  .solutions-title {
    margin-bottom: 48px;
  }

  .points {
    padding: 120px 0;
  }

  .points-list {
    gap: 24px;
  }

  .points-item {
    width: calc((100% - 72px) / 4);
  }

  .points-icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    position: relative;
    margin-bottom: 8px;
  }

  .points-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .points-paragraph {
    font-weight: 400;
  }

  .team {
    padding: 120px 0;
  }

  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
    padding: 0;
    justify-content: space-between;
  }

  .team-list .container {
    padding-left: 156px;
    padding-right: 156px;
  }

  .portfolio {
    padding: 120px 0 120px 0;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    flex-wrap: nowrap;
    padding: 0;
    justify-content: space-between;
  }

  .footer-form {
    flex-wrap: nowrap;
  }

  .footer-paragraph,
  .footer-social-list {
    margin-bottom: 0;
  }

  .footer-logo-container {
    margin-right: 120px;
  }

  .footer-form-container {
    margin-left: 80px;
  }

  .footer-form {
    gap: 24px;
  }

  .modal {
    padding: 72px 24px 24px 24px;
  }

  .modal-input {
    padding-left: 38px;
  }
}
